:root {
    /* Typography */
    --font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    --line-height: 1.5;
    --font-weight-regular: 400;
    --font-weight-semi-bold: 600;
    --font-size-small: 12px;
    --font-size-medium: 14px;
    --font-size-large: 18px;
    --font-size-xlarge: 20px;

    /* Colors */
    --color-background: rgb(255, 255, 255);
    --color-text: rgb(51, 51, 51);
    --color-link: rgb(3, 120, 124);
    --color-link-hover: rgb(213, 17, 31);
    --color-link-background: rgb(243, 242, 241);
    --color-link-background-hover: rgb(237, 235, 233);
    --color-neutral-light: rgb(241, 241, 243);
    --color-neutral-medium: rgb(183, 183, 183);
    --color-neutral-dark: rgb(191, 191, 191);

    /* Spacing */
    --spacing-xs: 6px;
    --spacing-sm: 12px;
    --spacing-md: 18px;
    --spacing-lg: 24px;
    --spacing-xl: 30px;

    /* Borders */
    --border-radius-sm: 4px;
    --border-radius-md: 8px;
    --border-width: 1px;

    /* Animation */
    --transition-speed: 0.25s;

    font-family: var(--font-family);
    line-height: var(--line-height);
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-medium);

    color-scheme: light dark;
    color: var(--color-text);
    background-color: var(--color-background);


    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}

h2 {
    font-size: var(--font-size-xlarge);
    font-weight: var(--font-weight-semi-bold);
    margin: 0;
}

h3 {
    font-size: var(--font-size-large);
    font-weight: var(--font-weight-semi-bold);
    margin: 0;
}

a {
    cursor: pointer;
    color: var(--color-link);
    text-decoration: none;
}

a:hover {
    color: var(--color-link-hover);
}

.textBoldCap {
    font-weight: var(--font-weight-semi-bold);
    text-transform: uppercase;
}

